<nav>
    <div class="nav-container">
        <img src="/assets/images/logos/logo-light.png" alt="logo" class="logo" id="logo" />
        <ul class="nav-menu" id="navMenu">
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="nav-actions">
            <div class="theme-toggle" id="themeToggle">
                <i data-lucide="moon" id="theme-icon"></i>
            </div>
            <div class="menu-icon" id="menuIcon">
                <span class="menu-line"></span>
                <span class="menu-line"></span>
            </div>
        </div>
    </div>
</nav>