@media screen and (max-width: 768px) {
    .menu-icon {
        display: flex;
    }

    .nav-menu {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.98);
        flex-direction: column;
        padding: 0px;
        gap: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); */
    }

    .nav-menu.active {
        max-height: 400px;
    }

    .nav-menu li {
        padding: 15px 25px;
        /* border-bottom: 1px solid #eee; */
    }

    .nav-menu li:last-child {
        border-bottom: none;
    }
}
