@media screen and (max-width: 768px) {
    .menu-icon {
        display: flex;
    }

    .nav-menu {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.98);
        flex-direction: column;
        /* padding: 20px; */
        gap: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); */
    }

    body.dark-mode .nav-menu {
        background: rgba(26, 26, 26, 0.98);
    }

    .nav-menu.active {
        max-height: 400px;
    }

    .nav-menu li {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-width: 0px;
        padding: 10px 0;
        /* border-bottom: 1px solid #eee; */
    }

    /* 
    body.dark-mode .nav-menu li {
        border-bottom: 1px solid #333;
    } */

    .nav-menu li:last-child {
        border-bottom: none;
    }
}
